vti_encoding:SR|utf8-nl
vti_author:SR|Z12345\\jess
vti_modifiedby:SR|Z12345\\jess
vti_timelastmodified:TR|11 Apr 2010 16:21:44 -0000
vti_timecreated:TR|31 Mar 2010 00:29:32 -0000
vti_title:SR|New Page 1
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|clients/JesusMadeThis/data.php clients/JesusMadeThis/test.htm
vti_nexttolasttimemodified:TW|11 Apr 2010 16:21:40 -0000
vti_cacheddtm:TX|11 Apr 2010 16:21:44 -0000
vti_filesize:IR|991
vti_cachedlinkinfo:VX|S|../images/button_background.jpg
vti_cachedsvcrellinks:VX|FSUS|clients/JesusMadeThis/images/button_background.jpg
